{% extends 'errors/base_error.html' %}

{% block error_icon %}
<svg class="mx-auto h-24 w-24 text-yellow-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
</svg>
{% endblock %}

{% block error_title %}
403 - Access Denied
{% endblock %}

{% block error_message %}
Sorry, you don't have permission to access this page. Please check your credentials or contact support if you believe
this is an error.
{% endblock %}